{% include "layout.html" %}

{% block content %}
<div class="container">
    <br>
    <form action="{{url_for('display2')}}" method = "post">
        <h2>Part 2 : SpillInfo</h2> <br>
        <input type="text" name="type" /><br>
        <b>Start Date:</b><br>
        <input type="date" name="startdate" required="required" /><br>
        <b>End Date:</b><br>
        <input type="date" name="enddate" required="required" /> <br>
        เข้า || ออก: <br>
        <select id="inout" name="inout">
          <option value="Arrival">ขาเข้า</option>
          <option value="Departure">ขาออก</option> 
          </select><br><br>
        <button type="submit" class="btn btn-success btn-block btn-large">Submit</button>
        <button type="reset" class="btn btn-danger btn-block btn-large">Reset</button>
    </form>
</div>
{% endblock %}