{% include "layout.html" %}


{% block content %}
<div class="container">
    <br>
    <form action="{{url_for('display1')}}" method = "post">
        <h2>Part 1 : Clustering</h2> <br>
        <input type="text" name="type" /><br>
        Start Date: <br>
        <input type="date" name="date" required="required" /><br>
        End Date: <br>
        <input type="date" name="enddate" required="required" /> <br>
        เข้า || ออก: <br>
        <select name="inout" id="inout">
          <option value="in">ขาเข้า</option>
          <option value="out">ขาออก</option> 
          </select><br><br>
        <button type="submit" class="btn btn-success btn-block btn-large">Submit</button>
        <button type="reset" class="btn btn-danger btn-block btn-large">Reset</button>
    </form>

    <br>
    <br>
</div>
{% endblock %}