{% include "layout.html" %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Passenger</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/part3.css') }}" />
</head>
<body>
    <br>
    <div class="container">
        <div class="title">Input date to predict passenger</div>
        <form action="{{url_for('modelpredict')}}" method = "post">
            <div class = 'user-detail'>
                <div class="input-box">
                    <span class="details"><b>Start Date:</b></span>
                    <input type="date" name="startdate" required="required" />
                </div>
                <div class="input-box">
                    <span class="details"><b>End Date:</b></span>
                    <input type="date" name="enddate" required="required" />
                </div>
                <div class="input-box">
                    <span class="details"><b>กรุณาเลือกระหว่าง ขาเข้า หรือ ขาออก:</b></span>
                    <select name="inout" id="inout" required="required">
                      <option selected>----</option>
                      <option value="Arrival">ขาเข้า</option>
                      <option value="Departure">ขาออก</option> 
                    </select>
                </div>
            </div>
            <div class="button_send">                
                <button type="submit" class="btn btn-success btn-block btn-large">Submit</button>
                <button type="reset" class="btn btn-danger btn-block btn-large">Reset</button>
            </div>
        </form>
    </div>
</body>
</html>

{% endblock %}