{% include "layout.html" %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Plotly Part 2</title>
    <style>
      .tab {
          display: inline-block;
          margin-left: 80px;
      }
      .tabspace {
        display: inline-block;
        margin-left: 15px;
      }
      .datespace {
        display: inline-block;
        margin-left: 115px;
      }
      .space {
        display: inline-block;
        margin-left: 30px;
      }
  </style>
</head>
<body scroll="no" style="overflow-x: hidden">

    <div id='chart' class='chart'”></div>
    <hr><br>
    <!-- Function to update line plot-->
    <script>
      function update_graph(selection,selection1, selection2) {
        $.getJSON({
          url: "/callback", data: { 'data': selection, 'data1':selection1, 'data2':selection2 }, success: function (result) {
            Plotly.newPlot('chart1', result, {});;
                      }
                  });
              }
    </script>
  
    <div class="selectdate">
      <form >
        <span class="tab">
          <b>Start Date:</b><span class = "space"><b>End Date:</b></span><br>
            <select name="fffname" id="fffname">
              {% for ld in label_date %}
              <option value={{ld}}>{{ld}}</option>
              {% endfor %}
              </select>
              <select name="ffffname" id="ffffname">
                {% for ld in label_date %}
                <option value={{ld}}>{{ld}}</option>
                {% endfor %}
                </select>
            <input type="button" class="btn btn-success btn-block btn-large" onclick="update_graph(fffname.value,ffffname.value,'{{inout_p2}}')" value="Update Graph"></input><br>
        </span>
      </form>
    </div>

    <div id='chart1' class='chart'”></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <div id='chart2' class='chart'”></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type='text/javascript'>
      var graphs = {{graphJSON | safe}};
      var config = {"displayModeBar": false};
      Plotly.setPlotConfig(config);
      Plotly.plot('chart',graphs,{});
    </script>

    <script type='text/javascript'>
      var graphs1 = {{graphJSON1 | safe}};
      var config = {"displayModeBar": false};
      Plotly.setPlotConfig(config);
      Plotly.plot('chart1',graphs1,{});
    </script>

    <script type="text/javascript">
      var map_var = {{graphJSON1 | safe}};
      var config = {"displayModeBar": false};
      var map = document.getElementById('chart1')
      Plotly.setPlotConfig(config);
      Plotly.plot("map",map_var);
      map.on('plotly_click', function(data){
          update_graph(data.points[0].location);
      });
    </script>
    <!--
    <div class="container", align="margin-left">
      <form action="{{url_for('display2')}}" method = "post">
          <b>Start Date:</b><span class = "datespace"><b>End Date:</b></span><br>
          <input type="date" name="startdate" required="required" />
          <input type="date" name="enddate" required="required" /> <br><br>
          <button type="submit" class="btn btn-success btn-block btn-large">Submit</button>
          <button type="reset" class="btn btn-danger btn-block btn-large">Reset</button>
      </form>
    </div>
  -->
</body>

</html>

{% endblock %}

