{% include "layout.html" %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plotly Part 1</title>
</head>
<style>
  table{
    display: inline-block;
  }
</style>
<body>
  <br><h2> Plotly Part1</h2>
  <div>
    <table style="float: left">
      <tr>
        <td>
    <div id='chart' class='chart'”></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{graphJSON | safe}};
      var config = {"displayModeBar": false};
      Plotly.setPlotConfig(config);
      Plotly.plot('chart',graphs,{});
    </script>
        </td>
      </tr>
    </table>
    <table style="float: left">
      <tr>
        <td>Hello World</td>
      </tr>
    </table>
  </div>

</body>
</html>

{% endblock %}